{% include 'includes/header' %}

    {% include 'includes/nav' %}
    <div class="bgWaterBeads">

	    <div class="content container">

	    	<h1>{{title}}</h1>

	    	<p>{{meta['top']}}</p>

	      <div class="cols2">
	      	<div class="col">
	      		<div class="methods">
	      			<h3>Phone:</h3>
		      		<p>{{meta['phone']}}</p>
		      		<h3>Fax:</h3>
		      		<p>{{meta['fax']}}</p>
		      		<h3>Email:</h3>
		      		<p>{{meta['email']}}</p>
		      		<!--
		      		<h3>Online:</h3>
		      		<form class="contactForm" accept-charset="UTF-8" action="https://formkeep.com/f/5e8eb0888586" method="POST">
  						<input type="hidden" name="utf8" value="✓">
						<input type="text" name="Name" placeholder="Your Name">
						<input type="email" name="Email" placeholder="Your Email">
						<input type="text" name="Company" placeholder="Your Company">
						<textarea name="Message" placeholder="Your Message"></textarea>
						<div class="error" style="display:none;"></div>
						<input class="submit" type="submit" value="Submit">
  					</form>
					-->
	      		</div>
	      	</div>
			<div class="col who">
	      		{{body}}
	      	</div>
	      </div>

	    </div><!-- /container -->

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function() {
			console.log('jQuery loaded and ready');
			var theFields = $(".contactForm input[type='text'], .contactForm input[type='email'], .contactForm textarea");
			theFields.focus( function(){
				$(".contactForm .error").text('').hide();
				theFields.removeClass('invalid');
			});
			$(".contactForm").submit(function(event){
    			console.log('form validation initiated');
    			// Check to make sure it was all filled out.
    			theFields.each(function(i) {
  					var name = $(this).attr('name');
  					if ( $(this).val() == "") {
  						$(this).addClass('invalid');
  						$(".contactForm .error").text('Whoops! You forgot a field: ' + name).show();
  						event.preventDefault();
  					}
				});
				return;
			});
		});
    </script>

{% include 'includes/footer' %}